@{
    ViewData["Title"] = "Página Inicial";
}

<div class="text-center">
    <h1 class="display-4">Contact<span id="hub">Hub</span></h1>
</div>


<section>
    <div class="container">

    <div class="demo">
        <div class="demo-left">
            <p>Aqui você pode salvar seus contatos com <span class="hub">segurança</span> e <span class="hub">privacidade</span></p>
            <div class="center-btn">
                <a role="button" asp-controller="Login" asp-action="Index">Login</a>
                <a role="button" asp-controller= "Login" asp-action= "Cadastro">Cadastrar</a>
            </div>
        </div>

        <div class="demo-right">
            <img src="~/images/demo3.jpg" alt="imagem demo"/>
        </div>
    </div>
</div>
</section>

<section>
    <div class="container revela">
        <div class="demo-left">
            <img src="~/images/demoT.jpg" alt="imagem demo"/>
        </div>

        <div class="demo-right">
            <h2>Registre seus contatos e se <span class="hub">organize</span> de um <span>jeito fácil</span></h2>
        </div>
    </div>
</section>

<section>
    <div class="container revela">

        <i class='bx bxs-lock'></i>
        <h2>Salve seus contatos com segurança com nosso sistema e tenha <span class="hub">privacidade</span></h2>

    </div>

</section>

<section>
    <div class="container revela">
        <h2>Experimente de graça as funcionalidades do ContactHub!</h2>
        <a href="#" id="experimentar">Experimente Agora</a>
    </div>
</section>






