@{
    ViewData["Title"] = "Privacy";
}

<div class="privacy-container">
    <h1>Política de Privacidade</h1>

    <div class="privacy-box">
        <div class="privacy-section">
            <h2>Como usamos seus dados?</h2>
            <p>Nós da ContactHub, estamos comprometidos em proteger a privacidade dos usuários do nosso site. As informações coletadas serão usadas estritamente para os seguintes propósitos:</p>
            <ul>
                <li><span class="privacy-title"> Gerenciamento de conta:</span>  utilizaremos seu nome, email e senha para criar e gerenciar sua conta em nosso site, garantindo que você possa acessar todas as funcionalidades disponíveis.</li>
                <li><span class="privacy-title"> Listas de contatos:</span>  o número de telefone será coletado para que você possa adicionar e gerenciar contatos em nossa plataforma, facilitando a comunicação e o compartilhamento de informações relevantes.</li>
                <li><span class="privacy-title"> Melhoria dos serviços:</span>  poderemos utilizar seus dados de forma agregada e anônima para análise estatística, visando aprimorar a qualidade dos nossos serviços, identificar tendências e entender as necessidades dos usuários.</li>
                <li><span class="privacy-title"> Comunicaçações:</span>  poderemos enviar emails ou notificações relacionados às atividades da sua conta, atualizações de recursos, ofertas especiais e informações relevantes sobre o uso da plataforma.</li>
                <li><span class="privacy-title"> Personalização:</span>  com base nas suas preferências e atividades no site, poderemos oferecer conteúdos personalizados e recomendações que possam ser do seu interesse.</li>
            </ul>
        </div>

        <div class="privacy-section">
            <h2>Que informações coletamos?</h2>
            <p>Ao utilizar nosso site, coletamos as seguintes informações fornecidas por você:</p>
            <ul>
                <li><span class="privacy-title"> Informações de identificação pessoal:</span>  Nome, e-mail e senha.</li>
                <li><span class="privacy-title"> Número de telefone:</span>  necessário para a funcionalidade de lista de contatos e, se fornecido, poderá ser utilizado para comunicações relacionadas ao seu uso da plataforma.</li>
                <li><span class="privacy-title"> Informações de uso:</span>  coletamos informações sobre as interações dos usuários com nosso site, como páginas visitadas, recursos utilizados, horários de acesso e atividades realizadas.</li>
            </ul>
            <img src="~/images/privacy/privacy1.jpg" alt="imagem demo"/>
        </div>

        <div class="privacy-section">
            <h2>Como você vai saber se a política de privacidade mudou?</h2>
            <p>É importante observar que a política de privacidade pode ser atualizada periodicamente para refletir melhorias no nosso site e ajustes nas práticas de privacidade. Sempre que houver alterações significativas, iremos notificar os usuários por meio de um aviso no site ou por email, dependendo da relevância da alteração. Recomendamos que você revise periodicamente nossa política de privacidade para se manter informado sobre como seus dados são coletados e usados.</p>
        </div>
    </div>
</div>


